<div class="box" *ngIf="logged === true">
  <div class="box-form">


    <div class="boxLog">

      <h1>Welcome</h1>
      <img src="src/assets/hlava.jpg" alt="hlava">

      <form>
        <div class="textbox">

          <input type="username" name="name" [(ngModel)]="name" placeholder="Username">
        </div>
      </form>

      <div class="textbox">

        <input type="password" name="password" [(ngModel)]="password" placeholder="Password">
      </div>

      <input (click)="clickLogin()" class="btn" type="button" value="Login">
    </div>
  </div>

</div>

<div class="vypis" *ngIf="logged === false">
  {{vypis}}
</div>
